body
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:black;
}
.calculator
{
    
    height: 80vh;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border-style: dashed;
    box-shadow: 0px 0px 10px white;
    
}
#result
{
    width: 300px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    background: transparent;
    margin-top: -25%;
    color: greenyellow;
    padding-left: 10px;

}
.keypad
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;

}
button
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 0px 3px 1px white;
    margin: 5px;
    color: aliceblue;
   
}
button:hover
{
    background: rgb(177, 18, 240);
    
}
button:focus{
    background: white;
    border-color: rgb(119, 0, 255);
    color: blue;
}
.btn2
{
    background: red;
    color: aliceblue;
}
.btn2:focus
{
    background: black;

}
footer{
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
footer span
{
    font-size: 25px;
    color: rgb(210, 242, 5);
    font-family: sans-serif;
}

@media screen and (max-width:300px) {
    .calculator{
        width: 300px;
        
        
    }
    .keypad
    {
        margin-left: -10%;
        justify-content: center;
    
    }
    footer span
    {
        font-size: 15px;
    }
    footer
    {
        margin-left: 15px;
        margin-top: -15%;
    }
    
}
@media screen and (max-width:400px) {
    .calculator{
        width: 300px;
        
        
    }
    .keypad
    {
        margin-left: 3px;
        grid-gap: 10px;
    
    }
    footer span
    {
        font-size: 15px;
    }
    footer
    {
        margin-top: -15%;
        margin-left: 12px;
    }
    
}
@media screen and (max-width:500px) {
    .calculator{
        width: 300px;
        
        
    }
    .keypad
    {
        margin-left: 3px;
        grid-gap: 10px;
    
    }
    footer span
    {
        font-size: 15px;
    }
    footer
    {
        margin-top: -15%;
        margin-left: 12px;
    }
    
}

